

body {
    box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: papayawhip;
  user-select: none;
}

.container {
    border: 1rem solid deeppink;
    margin: 3rem;
    padding:2rem;
    display:grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(10,1fr);
     grid-auto-flow: dense;
  } 

.box:nth-child(6n){
    grid-column: span 3;
}
.box:nth-child(8n){
    grid-column: span 2;
    grid-row: span 3;
}
.box:nth-child(7n){
    grid-column: span 4;
    grid-row: span 2;
}
.box:nth-child(9n){
    grid-row: span 2;
}
.box:nth-child(11n){
    grid-column: span 3;
    grid-row: span 3;
}